includes:
	- ../../apps/vendor/proget-hq/phpstan-yii2/extension.neon
	- ../../apps/vendor/phpstan/phpstan-strict-rules/rules.neon
	- ./phpstan-rules.neon

parameters:
    tmpDir: tests/_support
    yii2:
        config_path: phpstan_bootstrap.php
    strictRules:
        disallowedLooseComparison: false
        booleansInConditions: false
        uselessCast: false
        requireParentConstructorCall: false
        disallowedConstructs: false
        overwriteVariablesWithLoop: false
        closureUsesThis: false
        matchingInheritedMethodNames: false
        numericOperandsInArithmeticOperators: false
        strictCalls: false
        switchConditionsMatchingType: false
        noVariableVariables: false
    excludePaths:
        analyse:
            - */gii/*
            - */queue/rest/*
