openapi: 3.0.3
info:
  version: '3.0'
  title: Amazon Ads API - Profiles
  description: |-
    Profiles represent an advertiser and their account's marketplace, and are used in all subsequent API calls via a management scope, `Amazon-Advertising-API-Scope`. Reports and all entity management operations are associated with a single profile. Advertisers cannot have more than one profile for each marketplace.
    
    Advertisers who operate in more than one marketplace (for example, Amazon.com, Amazon.co.uk, Amazon.co.jp) will have only one profile associated with each marketplace. [**See this link**](https://advertising.amazon.com/API/docs/en-us/info/api-overview#api-endpoints) for a list of marketplaces associated with each endpoint.
    
    To retrieve your profile IDs, call the listProfiles operation, and include a valid authorization access token in the header. Use a `profileId` from the returned list as the value for the management scope (`Amazon-Advertising-API-Scope`) in the headers for subsequent API calls.
  contact:
    name: Amazon Ads API Support
    url: https://amzn-clicks.atlassian.net/servicedesk/customer/portals
  license:
    name: Amazon Ads API License Agreement
    url: https://advertising.amazon.com/API/docs/license-agreement
tags:
  - name: Profiles
paths:
  /v2/profiles:
    get:
      tags:
        - Profiles
      summary: Gets a list of profiles.
      description: Note that this operation does not return a response unless the current account has created at least one campaign using the advertising console.
      operationId: listProfiles
      parameters:
        - in: header
          name: Amazon-Advertising-API-ClientId
          description: The identifier of a client associated with a "Login with Amazon" account.
          schema:
            type: string
          required: true
        - name: apiProgram
          in: query
          description: Filters response to include profiles that have permissions for the specified Advertising API program only. Setting `apiProgram=billing` filters the response to include only profiles to which the user and application associated with the access token have permission to view or edit billing information.
          schema:
            type: string
            enum:
              - billing
              - campaign
              - paymentMethod
              - store
              - report
              - account
              - posts
            default: campaign
        - name: accessLevel
          in: query
          description: Filters response to include profiles that have specified permissions for the specified Advertising API program only. Currently, the only supported access level is `view` and `edit`. Setting `accessLevel=view` filters the response to include only profiles to which the user and application associated with the access token have view permission to the provided api program.
          schema:
            type: string
            enum:
              - edit
              - view
            default: edit
        - name: profileTypeFilter
          in: query
          description: Filters response to include profiles that are of the specified types in the comma-delimited list. Default is all types. Note that this filter performs an inclusive AND operation on the types.
          schema:
            type: string
            enum:
              - seller
              - vendor
              - agency
        - name: validPaymentMethodFilter
          in: query
          description: Filter response to include profiles that have valid payment methods. Default is to include all profiles. Setting this filter to `true` returns only profiles with either no `validPaymentMethod` field, or the `validPaymentMethod` field set to `true`.  Setting this to `false` returns profiles with the `validPaymentMethod` field set to `false` only.
          schema:
            type: string
            enum:
              - 'true'
              - 'false'
      responses:
        200:
          description: Success.
          content:
            application/json:
              schema:
                type: array
                maxItems: 5000
                items:
                  $ref: '#/components/schemas/Profile'
    put:
      tags:
        - Profiles
      summary: Update the daily budget for one or more profiles.
      description: Note that this operation is only used for Sellers using Sponsored Products. This operation is not enabled for vendor type accounts.
      operationId: updateProfiles
      parameters:
        - in: header
          name: Amazon-Advertising-API-ClientId
          description: The identifier of a client associated with a "Login with Amazon" account.
          schema:
            type: string
          required: true
      requestBody:
        content:
          application/json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/Profile'
      responses:
        200:
          description: success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ProfileResponse'
  /v2/profiles/{profileId}:
    get:
      tags:
        - Profiles
      summary: Gets a profile specified by identifier.
      description: This operation does not return a response unless the current account has created at least one campaign using the advertising console.
      operationId: getProfileById
      parameters:
        - in: header
          name: Amazon-Advertising-API-ClientId
          description: The identifier of a client associated with a "Login with Amazon" account.
          schema:
            type: string
          required: true
        - name: profileId
          in: path
          required: true
          schema:
            type: integer
            format: int64
      responses:
        200:
          description: Success.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Profile'
servers:
  - url: 'https://advertising-api.amazon.com (North America)'
  - url: 'https://advertising-api-eu.amazon.com (Europe)'
  - url: 'https://advertising-api-fe.amazon.com (Far East)'
components:
  schemas:
    AccountType:
      type: string
      readOnly: true
      enum:
        - vendor
        - seller
        - agency
      description: The `seller` and `vendor` account types are associated with Sponsored Ads APIs. The `agency` account type is associated with DSP and Data Provider APIs.
    AccountInfo:
      properties:
        marketplaceStringId:
          type: string
          readOnly: true
          description: The identifier of the marketplace to which the account is associated.
        id:
          type: string
          readOnly: true
          description: Identifier for sellers and vendors. Note that this value is not unique and may be the same across marketplace.
        type:
          $ref: '#/components/schemas/AccountType'
        name:
          type: string
          readOnly: true
          description: Account name.
        subType:
          type: string
          readOnly: true
          enum:
            - KDP_AUTHOR
            - AMAZON_ATTRIBUTION
          description: The account subtype.
        validPaymentMethod:
          description: 'Only present for Vendors, this returns whether the Advertiser has set up a valid payment method or not.'
          readOnly: true
          type: boolean
    countryCode:
      type: string
      readOnly: true
      description: |-
        The countryCode for a given country
        |Region|`countryCode`|Country Name|
        |------|-----|-------|
        |NA|BR|Brazil|
        |NA|CA|Canada|
        |NA|MX|Mexico|
        |NA|US|United States|
        |EU|AE|United Arab Emirates|
        |EU|BE|Belgium| 
        |EU|DE|Germany|
        |EU|EG|Egypt|
        |EU|ES|Spain|
        |EU|FR|France|
        |EU|IN|India|
        |EU|IT|Italy|
        |EU|NL|The Netherlands|
        |EU|PL|Poland|
        |EU|SA|Saudi Arabia| 
        |EU|SE|Sweden|  
        |EU|TR|Turkey|
        |EU|UK|United Kingdom|
        |EU|ZA| South Africa |
        |FE|AU|Australia|    
        |FE|JP|Japan|
        |FE|SG|Singapore|
      enum:
        - BR
        - CA
        - MX
        - US
        - AE
        - BE
        - DE
        - EG
        - ES
        - FR
        - IN
        - IT
        - NL
        - PL
        - SA
        - SE
        - TR
        - UK
        - AU
        - JP
        - SG
        - ZA
    Profile:
      properties:
        profileId:
          type: integer
          format: int64
        countryCode:
          $ref: '#/components/schemas/countryCode'
        currencyCode:
          type: string
          readOnly: true
          description: |-
            The currency used for all monetary values for entities under this profile.
            |Region|`countryCode`|Country Name|`currencyCode`|
            |-----|------|------|------|
            |NA|BR|Brazil|BRL|
            |NA|CA|Canada|CAD|
            |NA|MX|Mexico|MXN|
            |NA|US|United States|USD|
            |EU|AE|United Arab Emirates|AED|
            |EU|BE|Belgium|EUR|
            |EU|DE|Germany|EUR|
            |EU|EG|Egypt|EGP|
            |EU|ES|Spain|EUR|
            |EU|FR|France|EUR|
            |EU|IN|India|INR|
            |EU|IT|Italy|EUR|
            |EU|NL|The Netherlands|EUR|
            |EU|PL|Poland|PLN|
            |EU|SA|Saudi Arabia|SAR|
            |EU|SE|Sweden|SEK|
            |EU|TR|Turkey|TRY|
            |EU|UK|United Kingdom|GBP|
            |EU|ZA| South Africa | ZAR|
            |FE|AU|Australia|AUD|
            |FE|JP|Japan|JPY|
            |FE|SG|Singapore|SGD|
          enum:
            - BRL
            - CAD
            - MXN
            - USD
            - AED
            - EUR
            - EGP
            - INR
            - PLN
            - SAR
            - SEK
            - TRY
            - GBP
            - AUD
            - JPY
            - SGD
            - ZAR
        dailyBudget:
          type: number
          readOnly: false
          description: Note that this field applies to Sponsored Product campaigns for seller type accounts only. Not supported for vendor type accounts.
        timezone:
          type: string
          readOnly: true
          description: |-
            The time zone used for all date-based campaign management and reporting.
            |Region|`countryCode`|Country Name|`timezone`|
            |------|-----|-----|------|
            |NA|BR|Brazil|America/Sao_Paulo|
            |NA|CA|Canada|America/Los_Angeles|
            |NA|MX|Mexico|America/Los_Angeles|
            |NA|US|United States|America/Los_Angeles|
            |EU|AE|United Arab Emirates|Asia/Dubai|
            |EU|BE|Belgium|Europe/Brussels|
            |EU|DE|Germany|Europe/Paris|
            |EU|EG|Egypt|Africa/Cairo|
            |EU|ES|Spain|Europe/Paris|
            |EU|FR|France|Europe/Paris|
            |EU|IN|India|Asia/Kolkata|
            |EU|IT|Italy|Europe/Paris|
            |EU|NL|The Netherlands|Europe/Amsterdam|
            |EU|PL|Poland|Europe/Warsaw|
            |EU|SA|Saudi Arabia|Asia/Riyadh|
            |EU|SE|Sweden|Europe/Stockholm|
            |EU|TR|Turkey|Europe/Istanbul|
            |EU|UK|United Kingdom|Europe/London|
            |EU|ZA| South Africa | Africa/Johannesburg |
            |FE|AU|Australia|Australia/Sydney|
            |FE|JP|Japan|Asia/Tokyo|
            |FE|SG|Singapore|Asia/Singapore|
          enum:
            - Africa/Cairo
            - America/Sao_Paulo
            - America/Los_Angeles
            - Asia/Dubai
            - Asia/Kolkata
            - Asia/Riyadh
            - Asia/Singapore
            - Asia/Tokyo
            - Australia/Sydney
            - Europe/Amsterdam
            - Europe/Istanbul
            - Europe/London
            - Europe/Paris
            - Europe/Stockholm
            - Europe/Warsaw
            - Europe/Brussels
            - Africa/Johannesburg
        accountInfo:
          $ref: '#/components/schemas/AccountInfo'
    ProfileResponse:
      properties:
        profileId:
          type: integer
          format: int64
        code:
          type: string
        details:
          type: string
  securitySchemes:
    oauth2AuthorizationCode:
      type: oauth2
      description: Login with Amazon. For more information see [Login with Amazon authorization code grant](https://developer.amazon.com/docs/login-with-amazon/authorization-code-grant.html).
      flows:
        authorizationCode:
          authorizationUrl: https://www.amazon.com/ap/oa
          tokenUrl: https://api.amazon.com/auth/o2/token
          scopes:
            cpc_advertising:campaign_management: Modify your advertising campaigns and access performance data
    bearerAuth:
      type: http
      scheme: bearer
security:
  - oauth2AuthorizationCode: [ "cpc_advertising:campaign_management" ]
  - bearerAuth: [ ]
