parameters:
    excludePaths:
        analyse:
            - */migrations/*
    ignoreErrors:
        ### COMMON AND YII SKIP ###
        ### LEVEL 0 ###
        - '#Unsafe usage of new static#'
        - '#Cannot unset offset#'
        - '#Instantiated class yii\\db\\BaseActiveRecord is abstract.#'
        ### LEVEL 1 ###
        - '#Call to an undefined method yii\\db\\BaseActiveRecord::getTraceableAttributes#'
        ### LEVEL 2 ###
        - '#is not subtype of native type#'
        - '#Call to an undefined method yii\\db\\ActiveQueryInterface#'
        - '#Call to an undefined method yii\\db\\ActiveRecordInterface#'
        - '#Call to an undefined method yii\\db\\QueryInterface#'
        - '#Call to an undefined method yii\\db\\ActiveQuery#'
        - '#Access to an undefined property yii\\db\\ActiveQueryInterface#'
        - '#Access to an undefined property yii\\db\\QueryInterface#'
        - '#Access to an undefined property yii\\db\\BaseActiveRecord#'
        - '#Method yii\\db\\ActiveQueryInterface::with\(\) invoked with 1 parameter, 0 required.#'
        ### LEVEL 3 ###
        - '#Cannot assign offset#'
        # Property DI 自动注入属性, 配置值为 array|string, 但是实际上会被注入为 yii\di\Instance
        - '#does not accept default value of type (null|array|string|false)#'
        - '#\\[a-zA-Z]+\) does not accept (null|array|string|false)#'
        - '#\([a-zA-Z]+\) does not accept null#'
        - '#\(yii\\db\\ActiveQuery\) does not accept yii\\db\\ActiveQueryInterface#'
        ### LEVEL 4 ###
        - '#and (null|false) will always evaluate to false#'
        ### LEVEL 5 ###
        - '#yii\\base\\Model::addError\(\) expects string, array#'
        - '#yii\\rbac\\ManagerInterface::remove\(\) expects yii\\rbac\\Permission\|yii\\rbac\\ole|yii\\rbac\\Rule, yii\\rbac\\Item given#'

        ### LEVEL 2 ###
        # IDE 智能感知，修改 return type
        - '#is not subtype of native type#'
        - '#Method yii\\db\\ActiveQueryInterface::with\(\) invoked with 1 parameter, 0 required.#'
        ### LEVEL 3 ###
        # Property DI 自动注入属性, 配置值为 array|string, 但是实际上会被注入为 yii\di\Instance
        - '#does not accept default value of type (null|array|string|false)#'

